<section class="about">
  <%= image_tag "photoshare.png", alt: "photoshare" %>
  <p>Photoshareは写真共有アプリです。</p>
  <p>
    <%= image_tag "photoshare_camera.png", class: "camera-image", alt: "camera" %>
  </p>
</section>
